<div class="container">
  <div class="row justify-content-center" style="padding-top:100px; padding-bottom:100px;">
    <div class="col-4">
      <div class="card">
        <article class="card-body">
          <%= link_to "Log in", new_session_path(resource_name), :class =>"float-right btn btn-outline-primary mt-1" %>
          <h4 class="card-title mb-4 mt-1">Change your password</h4>
          <%- if devise_mapping.omniauthable? %>
            <p>
              <%= link_to signaler_amazon_omniauth_authorize_path, :class=> "btn btn-block btn-amazon" do %>
                <i class="fab fa-amazon"></i> &nbsp; Login via Amazon
              <% end %>
              <%= link_to signaler_github_omniauth_authorize_path, :class=> "btn btn-block btn-github" do %>
                <i class="fab fa-github"></i> &nbsp; Login via GitHub
              <% end %>
              <%= link_to signaler_github_omniauth_authorize_path, :class=> "btn btn-block btn-google-plus" do %>
                <i class="fab fa-google-plus"></i> &nbsp; Login via Google+
              <% end %>
            </p>
            <hr class="hr-text" data-content="Or">
          <% end -%>
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <% errors = resource.errors.messages %>
          <div class="form-row">
            <div class="col-12 form-group input-icon">
              <% field_class = errors.has_key?(:reset_password_token) ? "form-control is-invalid" : "form-control" %>
              <%= f.label :password %>*
              <%= f.password_field :password, autocomplete: "off", :class => field_class %>
              <% if errors.has_key?(:reset_password_token) %>
                <div class="invalid-feedback">
                  Please enter a valid password
                </div>
              <% end %>
              <small class="form-text text-muted">
                <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %>
              </small>
            </div><!-- form-group end.// -->

            <div class="col-12 form-group">
              <% field_class = errors.has_key?(:reset_password_token) ? "form-control is-invalid" : "form-control" %>
              <%= f.label :password_confirmation %>*
              <%= f.password_field :password_confirmation, autocomplete: "off", :class => field_class %>
              <% if errors.has_key?(:reset_password_token) %>
                <div class="invalid-feedback">
                  Please renter the password
                </div>
              <% end %>
            </div><!-- form-group end.// -->
          </div><!-- form-row end.// -->

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <%= f.submit "Change my password", :class => "btn btn-primary btn-block" %>
              </div><!-- form-group// -->
            </div>
            <div class="col-md-12 text-right">
              <%= link_to "Sign up", new_registration_path(resource_name), :class => "float-right btn btn-outline-primary" %>
            </div>
          </div><!-- .row// -->
          <% end %>
        </article>
      </div><!-- card.// -->
    </div><!-- col-8//-->
  </div><!-- row justify-content-center end-->
</div><!-- container.//-->