<div class="container">
  <div class="row justify-content-center">
  <div class="col-6 card">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { :method => :put, :multipart => true }) do |f| %>
  <% errors = resource.errors.messages %>
    <div class="row">
      <div class="col">
        <div class="profile_picture-upload">
          <div class="profile_picture-edit">
            <%= f.file_field :profile_picture %>
            <label for="signaler_profile_picture"></label>
            <%= f.hidden_field :profile_picture_cache %>
          </div>
          <div class="profile_picture-preview">
            <% if current_signaler.profile_picture.url.present? %>
              <div id="profile_picture_preview" >
                <%= image_tag(current_signaler.profile_picture_url) %>
              </div><br>
              <%= f.check_box :remove_profile_picture %>
              <%= f.label :remove_profile_picture %>
            <% else %>
              <div id="profile_picture_preview" style="background-image: url(https://profile.actionsprout.com/default.jpeg);"></div>
            <% end %>
          </div>
        </div>
        <h1 class="profile_picture_h1">Upload your new profile picture</h1><br> <hr class="hr-text" data-content="Info">
      </div><!-- end col -->
    </div><!-- end row -->

    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <% field_class = errors.has_key?(:first_name) ? "form-control is-invalid edit_input " : "form-control edit_input " %>
          <strong><%= f.label :first_name %>:</strong>
          <%= f.text_field :first_name, autofocus: true, :class => field_class %>
          <% if errors.has_key?(:first_name) %>
            <div class="invalid-feedback">
              Please enter a valid first name
            </div>
          <% end %>
        </div><!-- form-group end.// -->
      </div><!--end col-6 -->
      <div class="col-6">
        <div class="form-group">
          <% field_class = errors.has_key?(:last_name) ? "form-control is-invalid edit_input " : "form-control edit_input " %>
            <strong><%= f.label :last_name %>:</strong>
            <%= f.text_field :last_name, autofocus: true, :class => field_class %>
            <% if errors.has_key?(:last_name) %>
              <div class="invalid-feedback">
                Please enter a valid last name
              </div>
            <% end %>
        </div><!-- form-group end.// -->
      </div><!--end col-6 -->
    </div><!-- end row-->


    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <% field_class = errors.has_key?(:email) ? "form-control is-invalid edit_input " : "form-control edit_input " %>
            <strong><%= f.label :email %>:</strong>
            <%= f.text_field :email, autofocus: true, :class => field_class %>
            <% if errors.has_key?(:last_name) %>
              <div class="invalid-feedback">
                Please enter a valid email address
              </div>
            <% end %>
        </div><!-- form-group end.// -->
      </div><!--end col-6 -->

      <div class="col-6">
        <div class="form-group">
          <% field_class = errors.has_key?(:phone) ? "form-control is-invalid edit_input " : "form-control edit_input " %>
            <strong><%= f.label :phone %>:</strong>
            <%= f.text_field :phone, autofocus: true, :class => field_class %>
            <% if errors.has_key?(:phone) %>
              <div class="invalid-feedback">
                Please enter a valid phone number
              </div>
            <% end %>
        </div><!-- form-group end.// -->
      </div><!--end col-6 -->
    </div><!-- end row-->

    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <% field_class = errors.has_key?(:email) ? "form-control is-invalid edit_input " : "form-control edit_input " %>
          <strong><%= f.label :password %><i>(leave blank if you don't want to change it)</i>:</strong>
            <%= f.password_field :password, autocomplete: "off", :class => field_class %>
            <% if errors.has_key?(:password) %>
              <div class="invalid-feedback">
                Please enter a valid password
              </div>
            <% else %>
              <small class="form-text text-muted">*leave blank if you don't want to change it.</small>
            <% end %>
        </div><!-- form-group end.// -->
      </div><!--end col-6 -->

      <div class="col-6">
        <div class="form-group">
          <% field_class = errors.has_key?(:email) ? "form-control is-invalid edit_input " : "form-control edit_input " %>
            <strong><%= f.label :password_confirmation %>:</strong>
            <%= f.password_field :password_confirmation, autocomplete: "off", :class => field_class %>
            <% if errors.has_key?(:password_confirmation) %>
              <div class="invalid-feedback">
                Please enter a valid password
              </div>
            <% end %>
        </div><!-- form-group end.// -->
      </div><!--end col-6 -->
    </div><!-- end row-->
<%= f.label :password %>
  
  <br />
  <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em>
        <%= @minimum_password_length %> characters minimum</em>
      <% end %>
  <% end %><!-- end form -->
  </div>
  </div>
</div><!-- end container-->

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { :method => :put, :multipart => true }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :street %><br />
    <%= f.text_field :street %>
  </div>
  
  <div class="field">
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </div>
  
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  
  <div class="field">
    <%= f.label :zip_code %><br />
    <%= f.text_field :zip_code %>
  </div>
  
  <div class="field">
    <%= f.label :id_card_number %><br />
    <%= f.text_field :id_card_number %>
  </div>
  
  <div class="field">
    <%= f.label :municipality %><br />
    <%= f.text_field :municipality %>
  </div>
  
  <div class="field">
    <%= f.label :release_date %><br />
    <%= f.date_field :release_date %>
  </div>
  
  <div class="field">
    <%= f.label :expiration_date %><br />
    <%= f.date_field :expiration_date %>
  </div>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
<%= link_to "Back", :back %>
