<div class="container">
  <div class="row">
    <div class="col-6">
      <% @reports.each_with_index do |report, index| %>

        <% if report.state == "Suspended" %>
          <% style = "border-warning" %>
        <% else %>
          <% style = "" %>
        <% end %>

        <div class="card <%= style %>">

          <div class="card-body">

            <h4 class="card-title"><%= report.object %></h4>

            <p class="card-text"><%= report.description %></p>


          </div>

          <div class="card-footer">
            <%= link_to 'Delete', reports_path(report), method: :delete, data: {confirm: 'Are you sure?'}, :class => "btn btn-secondary float-right btn-sm" %>
            <%= link_to 'Show', report, :class => "btn btn-secondary float-right btn-sm" %>
            <% if !(report.state == "Archivied") %>
              <%= link_to 'Archive', stores_report_path(report.id), :class => "btn btn-secondary float-right btn-sm" %>
            <% end %>

            <% if !report.agency_id.nil? %>
              <% if report.state == "Suspended" %>
                <%= link_to "Edit", edit_report_path(report.id), :class => "btn btn-secondary float-right btn-sm" %>
                <%= link_to "Wake Up", not_suspend_report_path(report.id), :class => "btn btn-secondary float-right btn-sm" %>
              <% else %>
                <%= link_to "Suspend", suspend_report_path(report.id), :class => "btn btn-secondary float-right btn-sm" %>
              <% end %>
            <% end %>
          </div>

          <% if !report.agency_id.nil? %>
            <div class="card-footer">
              <a class="collapsed card-link" data-toggle="collapse" href="#collapse<%= index %>">
                Forwarder by <%= report.forwarder.full_name %> on <%= report.forward_date %>
                to <%= report.agency.name %>
              </a>
            </div>

            <div id="collapse<%= index %>" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <% if !report.agency.email.nil? %>
                  <div class="row">
                    <div class="col-2">
                      <strong>Email:</strong>
                    </div>
                    <div class="col-10">
                      <%= report.agency.email %>
                    </div>
                  </div>
                <% end %>

                <% if !report.agency.phone.nil? %>
                  <div class="row">
                    <div class="col-2">
                      <strong>Phone:</strong>
                    </div>
                    <div class="col-10">
                      <%= report.agency.phone %>
                    </div>
                  </div>
                <% end %>

                <% if !report.agency.fax.nil? %>
                  <div class="row">
                    <div class="col-2">
                      <strong>Fax:</strong>
                    </div>
                    <div class="col-10">
                      <%= report.agency.fax %>
                    </div>
                  </div>
                <% end %>

                <% if !report.agency.street.nil? %>
                  <div class="row">
                    <div class="col-2">
                      <strong>Address:</strong>
                    </div>
                    <div class="col-10">
                      <%= report.agency.street %>
                      , <%= report.agency.number %> <%= report.agency.city %> <%= report.agency.zip_code %>
                    </div>
                  </div>
                <% end %>

                <% if !report.agency.web_site_url.nil? %>
                  <div class="row">
                    <div class="col-2">
                      <strong>Web site url:</strong>
                    </div>
                    <div class="col-10">
                      <%= link_to report.agency.web_site_url, report.agency.web_site_url %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>

        </div>
      <% end %>
    </div>

    <div class="col-6">
      <% @observations.each_with_index do |observation, index| %>
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Observation: <%= link_to observation.report.object, report_path(observation.report.id) %> </h4>
            <p class="card-text"><%= observation.content %></p>
          </div>
          <div class="card-footer">
            <%= link_to "go to Report", report_path(observation.report.id), :class => "btn btn-secondary float-right btn-sm" %>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>