<div class="row">
  <div class="col-9">
    <%= @report.description %>
    <%= @report.description %>
    <%= @report.description %>
    <%= @report.description %>
    <%= @report.description %>
    <%= @report.description %>
    <%= @report.description %>
    <%= @report.description %>
    <%= @report.description %>
    <%= @report.description %>
    <%= @report.description %>
    <%= @report.description %>
  </div>

  <div class="col-3">
    <div class="card" style="position:fixed;">
      <%= link_to 'Forward', forward_report_path %>
    </div>
  </div>
</div>


