<div class="card">
    <table class="table table-hover shopping-cart-wrap">
        <thead class="text-muted">
            <tr>
                <th scope="col">Tipology</th>
                <th scope="col" width="120">N. Reports</th>
                <th scope="col" class="text-right" width="200"></th>
            </tr>
        </thead>
        <tbody>
        <% @tipologies.each do | tipology |%>
            <tr>
                <td>
                    <figure class="media">
                        <div class="img-wrap"><img src="<%= tipology.logo.url %>" class="img-thumbnail img-sm"></div>
                        <figcaption class="media-body">
                            <h6 class="title text-truncate"><%= tipology.name %></h6>
                            <p> <%= tipology.description %> </p>
                        </figcaption>
                    </figure> 
                </td>
                <td> 
                    <div class="price-wrap"> 
                        <var class="price"><%= tipology.reports.count %></var> 
                    </div> <!-- price-wrap .// -->
                </td>
                <td class="text-right"> 
                <%= link_to 'Associato to my group', create_occupation_path(tipology), :class => "btn btn-secondary" %>
                </td>
            </tr>
        <% end %>

        </tbody>
    </table>
</div> <!-- card.// -->

