<div class="row">
  <% @notices.each do |notice| %>
    <div class="col-4">
      <% if notice.notice_type == "Information" %>
        <% border = "border-info"%>
        <% text = "text-info" %>
      <% elsif notice.notice_type == "Warning" %>
        <% border = "border-warning" %>
        <% text = "text-warning" %>
      <% elsif notice.notice_type == "Obbligation" %>
        <% border = "border-danger"%>
        <% text = "text-danger" %>
      <% elsif notice.notice_type == "Result" %>
        <% border = "border-success" %>
        <% text = "text-success" %>
      <% end %>
      
      <div class="card <%= border %> mb-3">
        <div class="card-header"><%= notice.notice_type %></div>
        <div class="card-body <%= text %>">
          <h5 class="card-title"><%= notice.title %></h5>
          <p class="card-text"><%= notice.content %></p>
        </div>
        <div class="card-footer">

          <td><%= link_to 'Edit', edit_notice_path(notice), :class => "btn" %></td>
          <td><%= link_to 'Destroy', notice, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn"%></td>
        </div>
      </div>
    </div>
  <% end %>
</div>
