<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @notice.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @notice.content %>
</p>

<p>
  <strong>Posting date:</strong>
  <%= @notice.posting_date %>
</p>

<p>
  <strong>Expiration date:</strong>
  <%= @notice.expiration_date %>
</p>

<p>
  <strong>Notice type:</strong>
  <%= @notice.notice_type %>
</p>

<%= link_to 'Edit', edit_notice_path(@notice) %> |
<%= link_to 'Back', notices_path %>
