<%= form_with(model: agency, local: true) do |form| %>
  <% if agency.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(agency.errors.count, "error") %> prohibited this agency from being saved:</h2>

      <ul>
      <% agency.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :agency_name %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :agency_phone %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :agency_email %>
  </div>

  <div class="field">
    <%= form.label :fax %>
    <%= form.text_field :fax, id: :agency_fax %>
  </div>

  <div class="field">
    <%= form.label :street %>
    <%= form.text_field :street, id: :agency_street %>
  </div>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number, id: :agency_number %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :agency_city %>
  </div>

  <div class="field">
    <%= form.label :zip_code %>
    <%= form.text_field :zip_code, id: :agency_zip_code %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_area :note, id: :agency_note %>
  </div>

  <div class="field">
    <%= form.label :web_site_url %>
    <%= form.text_field :web_site_url, id: :agency_web_site_url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
