<table class="table table-striped" style="margin:0px;">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @agencies.each do |agency| %>
        <tr>
            <td><%= agency.name %></td>
            <td><%= agency.email %></td>
            <td><%= agency.phone %></td>
            <td><%= link_to 'Show', agency %></td>
            <td>
              <% if current_forwarder.id == agency.forwarder.id  %>
                <%= link_to 'Edit', edit_agency_path(agency) %>
              <% end %>
            </td>
            <td>
              <% if current_forwarder.id == agency.forwarder.id  %>
                  <%= link_to 'Destroy', agency, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </td>
        </tr>
    <% end %>
  </tbody>
</table>
