<div class="card">

  <div class="card-header">
    <strong><%= @agency.name %></strong>
  </div>
  <div class="card-body">

    <% if !@agency.email.nil? %>
      <div class="row">
        <div class="col-2">
          <strong>Email:</strong>
        </div>
        <div class="col-10">
          <%= @agency.email %>
        </div>
      </div>
    <% end %>

    <% if !@agency.phone.nil? %>
      <div class="row">
        <div class="col-2">
          <strong>Phone:</strong>
        </div>
        <div class="col-10">
          <%= @agency.phone %>
        </div>
      </div>
    <% end %>

    <% if !@agency.fax.nil? %>
      <div class="row">
        <div class="col-2">
          <strong>Fax:</strong>
        </div>
        <div class="col-10">
          <%= @agency.fax %>
        </div>
      </div>
    <% end %>
    
    <% if !@agency.street.nil? %>
      <div class="row">
        <div class="col-2">
          <strong>Address:</strong>
        </div>
        <div class="col-10">
          <%= @agency.street %>, <%= @agency.number %> <%= @agency.city %> <%= @agency.zip_code %>
        </div>
      </div>
    <% end %>

    <% if !@agency.web_site_url.nil? %>
      <div class="row">
        <div class="col-2">
          <strong>Web site url:</strong>
        </div>
        <div class="col-10">
         <%= link_to @agency.web_site_url, @agency.web_site_url %>
        </div>
      </div>
    <% end %>

    <% if !@agency.note.nil? %>
      <div class="row">
        <div class="col-2">
          <strong>Note:</strong>
        </div>
        <div class="col-10">
          <%= @agency.note %>
        </div>
      </div>
    <% end%>

  </div>

  <div class="card-footer">
    <%= form_tag(create_contact_path, method: "get", :class => "form-inline") do %>
      <select class="custom-select my-2 mr-sm-3" id="inlineFormCustomSelectPref" name="address_book_id">
        <% current_forwarder.group.address_books.each do |address_book| %>
          <option value="<%= address_book.id %>"><%= address_book.name %></option>
        <% end %>
      </select>

      <button type="submit" class="btn btn-primary my-1">Add to this address book</button>
    <% end %>
  </div>

</div>
