<div class="col-md-8 offset-md-2">
    <div class="card">
      <div class = "card-header">
        Edit Address Book
      </div>
      <div class="card-body">
        <%= form_with(model: @address_book, local: true) do |form| %>
        <% if @address_book.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@address_book.errors.count, "error") %> prohibited this address_book from being saved:</h2>

            <ul>
            <% @address_book.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

          <div class="row">
            <div class="col form-group">
              <%= form.label :name %>:*
              <%= form.text_field :name, id: :tipology_name, :class => "form-control" %>
            </div>
          </div>

          <div class="row">
            <div class="col form-group">
              <%= form.label :note %>:
              <%= form.text_area :note, id: :agency_note, :class => "form-control"  %>
            </div>
          </div>

          <div class="form-group">
            <%= form.submit "Ubdate", class: "btn btn-primary mb-2" %>
          </div>
        <% end %>
      </div>
    </div><!-- end card -->
  </div>

