<div class="container-fluid" style="padding:0;">
  <div class="row" style="margin:0;">
    <div class="col-md-4" id="left">
      <% @reports.each do |report| %>
        <div class="row d-flex align-items-stretch"  style="margin:5px; border-bottom:1px solid #DDD;">
          <div class="text-inner d-flex align-items-center">
            <div class="content">
              <header class="post-header">
                <h5 style="text-transform: uppercase; margin-bottom: 0px;"><span class="text-muted"><%= report.report_type %>:</span> <%=  link_to report.object, report_path(report), :style=>"color:#343434;" %></h5></a>
                <div class="category text-muted"><%= link_to " #{report.tipology.name}", reports_path(:search => {:tipology_id => report.tipology.id}) %> | <span style="font-size: 10pt; text-transform: uppercase; margin-left:3px;"><i class="fa fa-comment" ></i> <%= report.observations.count%> observations</span></div>
              </header>
              
              <p style="font-size: 11pt; margin-bottom: 5px;"><%= truncate(report.description.html_safe, :length => 180, :omission => "" , :escape => false)%>... 
              </p>
              <p style="font-size: 11pt; margin-bottom: 5px; color: #696969;"> Address:<em> <%= report.address %></em></p>
              <div class="post-footer" style="margin-bottom:10px; padding-top:3px; border-top:1px solid #efefef;">
                <div class="avatar">
                  <%= image_tag report.signaler.profile_picture.dim_x25.url, :style=>"border-radius:100%; margin-right:5px;" %><span class="text-muted" style="font-size:10pt"><%= report.signaler.full_name %> | <%= report.created_at.strftime("%b %d, %Y") %><span>
                </div>
              </div>
            </div>
          </div>
        
      </div>
    <% end %>
    </div>
    <div class="col-md-8 " id="right">
      <div id="map1"></div>
    </div>
  </div>
</div>







<script>
    function initMap() {
      
      var map = new google.maps.Map(document.getElementById('map1'), {
          center: { lat: 41.87194, lng: 12.567379999999957 },
          zoom: 10,
          mapTypeId: google.maps.MapTypeId.HYBRID
      });
            
           
          }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHsysEhtrQMdJW_wv3ROsNysDr_UwpTMo&libraries=places&callback=initMap" async defer></script>

    <script type="text/javascript">
		var p = document.getElementById("search_range"),
		res = document.getElementById("search_radius");

		p.addEventListener("input", function() {
			res.value = p.value;
		}, false);
</script>